* {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: small;
  /* line-height: 4px; */
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: 700;
  background-color: rgba(235, 235, 233, 0.979);
  text-align: center;
  margin-top: 0%;
  padding: 10px;
}

.sale {
  background-color: rgb(187, 27, 27);
  padding: 5px;
  color: white;
  display: inline-block;
  position: absolute;
  left: -20px;
  top: -25px;
  letter-spacing: 1px;
}

.price {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 3000;
}

.ship {
  font-size: 8px;
}
.info {
  text-decoration-line: underline;
}
.info:hover {
  text-decoration: none;
}

.all {
  border: 4px solid rgba(0, 0, 0, 0.774);
  width: 800px;
  /* padding: auto; */
  margin: 100px 300px;
  position: relative;
}

button {
  background-color: black;
  width: 100%;
  cursor: pointer;
  color: antiquewhite;
  padding-top: 10px;
  margin-top: 0px;
}

.list {
  list-style: square;
  /* margin: 4px; */
}

.boxes {
  display: flex;
  gap: 10px;
}

.blackcolor {
  display: inline-block;
  background-color: black;
  width: 20px;
  height: 20px;
  /* margin-right: 5px; */
}

.bluecolor {
  display: inline-block;
  background-color: blue;
  width: 20px;
  height: 20px;
  /* margin-right: 5px; */
}
.redcolor {
  display: inline-block;
  background-color: red;
  width: 20px;
  height: 20px;
  /* margin-right: 5px; */
}
.yellowcolor {
  display: inline-block;
  background-color: yellow;
  width: 20px;
  height: 20px;
  /* margin-right: 5px; */
}
.greencolor {
  display: inline-block;
  background-color: green;
  width: 20px;
  height: 20px;
  /* margin-right: 5px; */
}
.browncolor {
  display: inline-block;
  background-color: brown;
  width: 20px;
  height: 20px;
  /* margin-right: 5px; */
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* .price_ship {
  display: flex;
} */
